@model ApiKeyModel

<h2>Welcome to our super duper Lockr</h2>

<form action="@Url.Action("Index", "Home")">
    <div>
        <H3>Api Key:</H3>
    </div>
    <div>
        @Html.Label(Model.ApiKey)
    </div>
    <div>
        <input type="submit" value="Generate Api Key">
    </div>
</form>
