@using Microsoft.AspNetCore.Authentication

<h2>Welcome to our super duper Lockr</h2>

<form action="@Url.Action("Index", "ApiKey")">
    <label>Api Key:</label>
    @* Generated api key should be displayed here *@
    <input type="submit" value="Generate Api Key">
</form>
